<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css"> 
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"> 
    <link rel="stylesheet" type="text/css" href="/assets/css/choose.css"> 
    <link rel="stylesheet" type="text/css" href="/assets/css/modal.css"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta charset="UTF-8"> 
    <title>Pick Your Poison</title> 
</head>

<body>
	<div>
    	{{{ body }}}
		
	
	<script src="/assets/javascript/javascript.js"></script>
</body>

</html>