<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Pick Your Poison</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">Find Your Rare Bottle!!</div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-5">
                    <img src="assets/Photo-1.jpg" alt="image of a bar" height="200px" , width="450">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <img src="assets/gallery5.jpg" alt="image of a bar" height="200px" , width="450">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button id="create" class="btn btn-default col-md-5 btn-lg"> <span class=" glyphicon glyphicon-hand-right" aria-hidden="true"></span> Create Restaurant</button>
                <div class="col-md-2"></div>
                <button id="drinks" class="btn btn-default col-md-5 btn-lg"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> View Drinks</button>
            </div>
        </div>
        <footer class="footer"> &#169; Dennis Gruszka,Jason Young,Zoli Saunt,Chang-Yeon Kim </footer>
    </div>
</body>

</html>