<div class="container">
  <div class="jumbotron text-center">
    <h2>Pick Your Poison</h2>
  </div>
</div>

<div class="container">
  <div class="panel panel-primary" id="drink-location-panel">
    <div class="panel-heading">Location</div>
    <div class="panel-body">
      {{#each restaurant}}
        <h3>
      {{!--     <a href="/location/{{this}}"><button type="submit" class="btn btn-warning" id="{{this}}">{{this}}</button></a> --}}
        </h3>
      {{/each}}
    </div>
  </div>
</div>