<div class="container">
	<br>
	<div class="jumbotron">
		<h1>Manager Option</h1>
		<h2>Update Your Inventory</h2>
	</div>

	<a href="/">
		<button type="button" class="btn btn-default" aria-label="Left Align" id="home">
  			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
		</button>
	</a>		
	<div class="row">
		<div class="col-sm-12">

			<!-- restraurant form -->
			<div class="panel panel-default">
				<h2 class="panel panel-heading" id="rest-head">Update Your Restaurant</h2>
				<div class="panel panel-body">
					<h3>Restaurant Details</h3>
				</div>

				<form>
					<div class="form-group">
						<label for="name">Name Of Your Restaurant:</label>
						<input type="text" class="form-control" id="rest-name" placeholder="Name">
					</div>
					<div class="form-group">
						<label for="blurb">Update Your Blurb:</label>
						<input type="text-field" class="form-control" id="blurb-field" placeholder="Description">
					</div>
				</form>

				<!-- second form -->
				<h3>Bourbon Selection</h3>
				<label for="form">Please Fill Out The Form To Update Your Stock</label>
				<div id="drink-stock-form"></div>
				<br>
				<button type="submit" class="btn btn-default" id="update-inventory">Update</button>
			</div>
		</div>
	</div>
	<footer class="footer"> &#169; Dennis Gruszka, Jason Young, Zoli Saunt, Chang-Yeon Kim </footer>
</div>