 <div class="container">
    <br>
    <div class="jumbotron">Pick Your Poison</div>
    <br>
    <div class="row">
        
            <div class="col-md-5">
                <img src="/assets/images/Photo-1.jpg" alt="image of a bar" height="200px" , width="455" >
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <img src="/assets/images/gallery5.jpg" alt="image of a bar" height="200px" , width="455" >
            </div>
        </div>
        <br>

    <div class="row">
        <div class="col-md-5">
        <a href="/managerOption">
            <button id="create" class="btn btn-default  btn-lg">
                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Add Your Restaurant
            </button>
        </a>
        </div>
        <div class="col-md-2"></div>
            <div class="col-md-5">
            <a href="/viewDrinks">
                <button id="drinks" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> View Drinks
                </button>
            </a>
        </div>

    </div>
    <footer class="footer"> &#169; 2017 Dennis Gruszka, Jason Young, Zoli Saunt, Chang-Yeon Kim </footer>

</div>

    </div>

