 <div class="container text-center">
    <div class="jumbotron">Find Your Rare Bottle!!</div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-5">
                <img src="/assets/images/Photo-1.jpg" alt="image of a bar" height="200px" , width="450">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <img src="/assets/images/gallery5.jpg" alt="image of a bar" height="200px" , width="450">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/createDrinks">
                <button id="create" class="btn btn-default col-md-5 btn-lg">
                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Add Your Restaurant
                </button>
            </a>
            
            <div class="col-md-2"></div>
            
            <a href="/viewDrinks">
                <button id="drinks" class="btn btn-default col-md-5 btn-lg"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> View Drinks
                </button>
            </a>
        </div>
    </div>
</div>