
<div class="container">
  <br>
  <div class="jumbotron">
    Find the most expensive drinks in the world!
  </div>


<div class="row">
  <div class="col-lg-12">
  <div class="panel panel-primary" id="drink-selection-panel">
    <div class="panel-heading">Select your drink to see their location!</div>
    <div class="panel-body">
      {{#each drink}}
        <h3>
          <a href="/drink/{{this}}"><button type="submit" class="btn btn-warning" id="{{this}}">{{this}}</button></a>
        </h3>
      {{/each}}
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-lg-12">
    <img src="/assets/images/scotch.jpg" alt="image of a a glass of bourbon" class="img-responsive"  >
  </div>
</div>

  <footer class="footer"> &#169; Dennis Gruszka, Jason Young, Zoli Saunt, Chang-Yeon Kim </footer>

</div>

