body {
    background-image: url('../images/whiskey-barrels.jpg');
    /*background-size: 100%;*/
    background-repeat: no-repeat;
    height: 100%;
    margin: 0, auto;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron {
    border-style: outset;
    border-color: #7c4e2f;
    border-width: 3px;
    font-size: 80px;
    text-shadow: 5px 5px #000000;
    font-family: 'Calligraffitti', cursive;
    background-color: #1f0200;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: #F7E7CE;
    text-align: center;
}

#create {
    width: 100%;

    padding-top: 15px;
    font-size: 42px;
    text-shadow: 5px 5px #000000;
    border-style: outset;
    border-color: #7c4e2f;
    border-width: 3px;
    font-family: 'Calligraffitti', cursive;
    background-color: #1f0200;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: #F7E7CE;
    text-align: center;
}

#drinks {

    width: 100%;
    font-size: 42px;
    text-shadow: 5px 5px #000000;
    border-style: outset;
    border-color: #7c4e2f;
    border-width: 3px;
    font-family: 'Calligraffitti', cursive;
    background-color: #1f0200;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: #F7E7CE;
    text-align: center;
}

.footer {
    padding: 30px;
    height: 80px;
    margin-top: 60px;
    background-color: #1f0200;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: #F7E7CE;
    text-align: center;
    border-style: outset;
    border-color: #7c4e2f;
    border-width: 3px;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}



.container {

    background: rgba(242, 242, 242, 0.1);
    margin: 0, auto;
}

#home {
    margin: 3px;
    color: #F7E7CE;
    background-color: #1f0200;
}

#pin{
    margin-left: 15px;
}

#alcohol{
    margin-left: 15px;
}

