/*.jumbotron {
    border-style: outset;
    border-color: #7c4e2f;
    border-width: 3px;
    font-size: 300%;
    text-shadow: 5px 5px #000000;
    font-family: 'Calligraffitti', cursive;
    background-color: #1f0200;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: #F7E7CE;
    text-align: center;
}*/
 .panel-primary > .panel-heading{
    padding:20px;
     background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    background-color:#1f0200;
    color: #F7E7CE; 
}