body {
    background-image: url('../assets/whiskey-barrels.jpg');
    /*background-size: 100%;*/
    background-repeat: no-repeat;
}

.jumbotron {
    border-style: outset;
    border-color:#7c4e2f;
    border-width: 3px;
    font-size: 80px;
    text-shadow: 5px 5px #000000;
    font-family: 'Calligraffitti', cursive;
    margin-top: 20px;
    background-color: #1f0200;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: #F7E7CE;
    text-align: center;
}

#create {
	margin-top: 20px;
    padding-top: 15px;
    font-size: 50px;
    text-shadow: 5px 5px #000000;
    border-style: outset;
    border-color: #7c4e2f;
    border-width: 3px;
    font-family: 'Calligraffitti', cursive;
    background-color: #1f0200;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: #F7E7CE;
    text-align: center;
}

#drinks {
	margin-top: 20px;
	padding-left: 10px;
    padding-top: 15px;
    font-size: 50px;
    text-shadow: 5px 5px #000000;
    border-style: outset;
    border-color: #7c4e2f;
    border-width: 3px;
    font-family: 'Calligraffitti', cursive;
    background-color: #1f0200;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: #F7E7CE;
    text-align: center;
}

.footer {
	padding:30px;
    height: 80px;
    margin-top: 40px;
    background-color: #1f0200;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color:#F7E7CE;
    text-align: center;
    border-style: outset;
    border-color: #7c4e2f;
    border-width: 3px;
}